<form class="add-contact-form" [formGroup]="contactForm">
  <h1 class="form-header">Add a New Contact</h1>
  <hr>
  <br>
  <div class="my-image-upload-container">
    <div *ngIf="selectedFile" class="img-preview-container">
      <div class="img-preview{{selectedFile.status === 'fail' ? '-error' : ''}}"
        [ngStyle]="{'background-image': 'url('+ selectedFile.src + ')'}">
      </div>
    </div>
    <label class="image-upload-container btn btn-bwm">
      <span>Add Photo</span>
      <input #imageInput type="file" accept="image/*" (change)="processFile(imageInput)">
    </label>
  </div>
  <mat-form-field class="full-width">
    <input matInput placeholder="First name" formControlName="firstName">
    <mat-error *ngIf="contactForm.get('firstName').hasError('required')">
      First name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <mat-form-field class="full-width">
    <input matInput placeholder="Last name" formControlName="lastName">
    <mat-error *ngIf="contactForm.get('lastName').hasError('required')">
      Last name is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <div class="full-width">
    <mat-form-field class="country-code" floatLabel="never">
      <input type="number" matInput placeholder="44" formControlName="countryCode">
      <span matPrefix>+</span>
    </mat-form-field>
    <mat-form-field class="mobile-number" floatLabel="never">
      <input type="tel" matInput placeholder="Mobile number" formControlName="mobileNumber">
      <mat-error *ngIf="contactForm.get('mobileNumber').hasError('required')">
        Mobile number is <strong>required</strong>
      </mat-error>
    </mat-form-field>
  </div>
  <mat-form-field class="full-width">
    <input matInput placeholder="Email" formControlName="email">
    <mat-error *ngIf="contactForm.get('email').hasError('email') && !contactForm.get('email').hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="contactForm.get('email').hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>
  <button class="form-button" type="submit" color="accent" mat-flat-button (click)="submitForm()"
    [disabled]="!contactForm.valid">
    Add Contact
  </button>
  <button class="form-button" type="reset" color="primary" mat-flat-button (click)="goToContacts()">Cancel</button>
</form>