<div class="input-container">
  <input #input type="text" placeholder="Search Contacts">
</div>
<a [routerLink]="[ 'add' ]">Add</a>
<div class="contact-list-container">
  <ul *ngIf="vm$ | async as vm" class="contacts-list">
    <li *ngFor="let contact of vm.contacts; let i = index;">
      <app-contacts-list-item *ngIf="contact.firstName; else listIndex" imageSource="https://www.placehold.it/30x30"
        [contactInfo]="getContactInfo(contact)" [contactName]="getContactName(contact)"></app-contacts-list-item>
      <hr *ngIf="shouldAddDivider(i, vm.contacts)">
      <ng-template #listIndex>
        <div #alphabet *ngIf="contact.index" class="list-index" [id]="contact.index">
          {{ contact.index }}
        </div>
      </ng-template>
    </li>
  </ul>
  <ul class="alphabet-navigation">
    <li class="alphabet-navigation-item" (click)="goToItem(i)" *ngFor="let letter of alphabet; let i = index;">
      <a>
        {{ letter }}
      </a>
    </li>
  </ul>
</div>