<div class="input-container">
  <input #input type="text" placeholder="Search Contacts">
</div>
<div class="add-new-contact">
  <a [routerLink]="[ 'add' ]">Add New Contact</a>
  <a class="plus-sign" [routerLink]="[ 'add' ]">+</a>
</div>
<hr class="full-width">
<div>
  <div class="list-index">
    Latest Contacts
  </div>
  <ul *ngIf="vm$ | async as vm" class="contacts-list">
    <li *ngFor="let contact of vm.latestContacts; let i = index;">
      <app-contacts-list-item *ngIf="contact.firstName;" [imageSource]="getImageSource(contact)"
        [contactInfo]="getContactInfo(contact)" [contactName]="getContactName(contact)"></app-contacts-list-item>
      <hr *ngIf="shouldAddDivider(i, vm.latestContacts)">
    </li>
  </ul>
</div>
<div class="contact-list-container">
  <ul *ngIf="vm$ | async as vm" class="contacts-list">
    <li *ngFor="let contact of vm.contacts; let i = index;">
      <app-contacts-list-item *ngIf="contact.firstName; else listIndex" [imageSource]="getImageSource(contact)"
        [contactInfo]="getContactInfo(contact)" [contactName]="getContactName(contact)"></app-contacts-list-item>
      <hr *ngIf="shouldAddDivider(i, vm.contacts)">
      <ng-template #listIndex>
        <div #alphabet *ngIf="contact.index" class="list-index" [id]="contact.index">
          {{ contact.index }}
        </div>
      </ng-template>
    </li>
  </ul>
  <ul class="alphabet-navigation">
    <li class="alphabet-navigation-item" (click)="goToItem(i)" *ngFor="let letter of alphabet; let i = index;">
      <a>
        {{ letter }}
      </a>
    </li>
  </ul>
</div>